body{
font-family: 'Montserrat', sans-serif;
line-height: 1.75em;
background: #fff;
color: #222;
margin: 0;
padding: 0;
border: 0;
outline: 0;
}

h2{
    font-family: 'Playfair Display', serif;
    font-size: x-large;
}

.container{    
    max-width: 662px;
    margin: 0 auto; 
    padding: 0 20px;      
    }
 
.main-nav{        
    background: #f4f4f4;
    height: 55px;
    padding-top: 1px; 
              
}

nav ul{
    display: flex;    
    gap: 90px;
    }
a{
    color: grey;
    text-decoration: none;
}

a:hover{
    color: black;
}

.intro{
    padding: 57px 0px 20px 0px;
    background-image:url("frontend.jpg");
    background-position: center -50%;
    background-repeat: no-repeat;
}

.info-container{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "avatar name name";
    
}
.avatar-img{
    border-radius: 50%;
    width: 80px;
    grid-area: avatar;
    align-self: start;
    margin: auto 0;
}
.name{
    grid-area: name;
    align-self: flex-end;
    font-family: 'Playfair Display', serif;
    font-size:  40pt;
    margin: auto 0;
    }

.grid-container{    
    display: grid;
    padding-bottom: 50px;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 100px;
    grid-template-areas: "education contacts"
                         "skills code"
                         "lang code";
    }

    .education{
        grid-area: education;
        
    }

    .skills{
        grid-area: skills;
    }

    .contacts{
        grid-area: contacts;
    }

    .code{
        grid-area: code;
        margin-bottom: -50px;
    }

    .lang{
        grid-area: lang;
        
    }
.projects{    
    background-image: url("van-gogh.jpg");
    background-repeat: repeat-x; 
    text-align: center;     
    }

    .container-button{
        padding-top: 150px;
        padding-bottom: 150px;
    }

.project-button{
    font-family: 'Playfair Display', serif;
    border: solid 5px white;
    padding: 20px 50px;    
    color: white;
     font-size: 40pt;   
          
    }

.project-button:hover{
    color: white;
}
.container-footer{
    padding-top: 80px;    
    display: flex;
    justify-content: space-between;

}

.page-footer{
    min-height: 50px;
    padding: 20px;      
    text-align: center;
    line-height: 40px;
    color: #fff;  
}

.year{
    font-size: 20px;
}

ul{
    list-style-type: none;
}

li{
    margin-left: -36px;
}
.container::after{
    background: url("separator.png") no-repeat;
}